*{
    padding:0;
    margin:10px;
    align-items: center;
    

}
h2{
    color: #a34c75;
    font-size: 30px
    

}
p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #333; /* Text color */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  